<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Band Name Generator</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <main>
      <% if (typeof adj !== 'undefined' && typeof noun !== 'undefined') { %>
      <h1><%= adj %> <%= noun %></h1>
      <% } else { %>
      <h1>Your Band Name Generator</h1>
      <% } %>

      <form action="/submit" method="POST">
        <input type="submit" value="Generate Name" />
      </form>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
